---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "About | Jules Harter",
  description:
    "Jules Harter is an author of LGBTQ fiction, historical fiction, and gothic stories.",
};
---

<style>
  .about-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .about-content img {
    max-width: 300px;
    height: 300px;
  }
</style>

<Layout seo={seo}>
  <Container>
    <h1>about</h1>

    <div class="about-content">
      <img src="profile.jpg" />
      <div class="about-text">
        <p>
          Jules Harter is a purveyor of stories and aspiring hermit. They are
          the author of <i>The Last Lighthouse Keeper</i>, a gothic romance.
          Jules also writes contemporary and historical novels that feature
          out-of-their-depth characters, LGBTQ casts, a hint of romance, and
          settings tnat are just a bit gothic.
        </p>
        <p>
          Jules is traveler, seeking and offering stories wherever they find
          themself. At any given time, you might catch them living in a small
          cottage in the woods or on a windswept island in the shadow of an
          abandoned lighthouse. Or boarding a train and seeing where it takes
          them. Whichever. They aren't particular.
        </p>
        <p>
          Jules also hopes to bring back the trend of <a href="/hire-a-hermit">
            ornamental hermits</a
          >. If you have a large estate, mountain cave, or desert island that
          could benefit from a hermit (or anything else you would like to share
          with them), <a href="/contact">send them an email</a>.
        </p>
        <p>
          If you prefer to hear them shouting into the void, follow them on your
          preferred social media platform.
        </p>
      </div>
    </div>
  </Container>
</Layout>
