---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Contact | Jules Harter",
  description: "",
};
---

<style>

</style>

<Layout seo={seo}>
  <Container>
    <h1>contact</h1>

    <div class="contact-content">
      <p>
        Even solitary authors like to talk with people sometimes. Send me
        questions, comments, a recipe you like, a typo you found, or picture of
        a house you think could use a poem.
      </p>
      <p>
        You can DM me on Instagram or Facebook. I check my messages with semi
        regularity and will likely get back to you sometime in the next 2.8
        months.
      </p>
    </div>
  </Container>
</Layout>
