---
import Layout from '../layouts/Page.astro';
import Container from '../components/Container.astro';

const seo = {
  title: "Hire a Hermit | Jules Harter",
  description: "Jules offers their services as an ornamental hermit if this trend ever comes back into style."
}
---
<style>
    hr {
        width: 100px;
        height: 1px;
        background-color: #c9c9c9;
        margin-top: 40px;
        margin-bottom: 40px;
    }
</style>

<Layout seo={seo}>
  <Container>
  <h1>hire a hermit</h1>

  <div class="hermit-content">
    <p>
        <b>hermit (n):</b> a person who lives in seclusion from society, often 
        for religious reasons
    </p>
    <h2>Ornamental Hermits: A History Lesson</h2>
    <p>
        During the 18th century in Europe, it became a fad among noblemen to 
        employ a man to live as a hermit on their estates. The hermit would 
        live in a folly or grotto specially constructed for the purpose, but 
        made to look like a natural feature. Payment was in food and drink.
    </p><p>
        A hermit’s duties varied from estate to estate. Some merely lived in 
        silence, a feature of the landscaping. Others entertained guests with 
        pantomimes and words of wisdom.
    </p>
    <h2>Hermit for Hire: A Proposal</h2>
    <p>
        You find yourself the owner of a slightly gothic kind of property. A 
        historic estate, a mountainside cave, a decommissioned lighthouse, a nice 
        family home with a squeaky front gate, ect. In short, you have a property 
        that could benefit from the presence of an enigmatic hermit.
    </p><p>
        Jules Harter is an aspiring hermit with some twenty-odd years experience. 
        In addition to having spent months living alone, they have carefully studied 
        the works of hermits who have gone into the woods before them. To match your 
        aesthetic needs, their services range from complete silence to ominous 
        muttering to sagely advice, either brief or long winded.
    </p><p>
        They hold a bachelors in the humanities, with a minor in business, and can 
        speak wisely on history, software engineering, philosophy, politics, civil
        engineering, and small enterprise accounting. For an additional fee, they 
        can learn further subjects as needed. And because a job application 
        wouldn’t be complete without it, Jules is responsible, detail oriented, and 
        has intermediate skills in Microsoft Word and Excel.
    </p>
    <h3>What Jules Provides:</h3>
    <ul>
        <li>their enigmatic, anti-social presence</li>
        <li>a variety of costumes to fit your aesthetic</li>
        <li>books, paper, and pens to study and craft sage ideas</li>
        <li>several tongues in which to mutter (English, Spanish, and German currently)</li>
    </ul>
    <h3>What Jules Requires:</h3>
    <ul>
        <li>comfortable lodging in the hermitage of your choice</li>
        <li>daily loaf of bread, hunk of cheese, flask of wine</li>
        <li>internet connection (wired or wireless, fiber preferred)</li>
        <li>Tuesday afternoons and every Sunday off</li>
        <li>healthcare (dependent on country of residence)</li>
    </ul>
    <hr>
    <p>Please contact Jules for availability and inquiries.</p>
    <hr>
    <p>To read the ramblings of a hermit without paying me on retainer, see 
    the <a href="/">available books</a>, check out 
    <a href="https://julesharter.com/everyday-gothic/">Everyday Gothic</a>, or 
    join me on social media.</p>
  </div>

  </Container>
</Layout>