---
export interface Props {
  narrow?: boolean;
}

const {narrow} = Astro.props;
---

<!-- <div class={`content__container ${narrow && `content__container--narrow`}`}> -->
<div class=`content__container`>
  <slot></slot>
</div>

<style>
  @media screen and (max-width: 400px) {
    .content__container {
      max-width: 350px;
      padding: 0 20px;
    }
    
  }

  @media screen and (min-width: 400px) {
    .content__container {
      max-width: var(--container-max-width);
      margin: 0 200px;
      padding: var(--container-padding);
    }
  }
.content__container--narrow {
  max-width: var(--container-max-width-narrow);
}
</style>