---
---

<style>
    .footer {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 14px;
    }

    .footer a {
        margin-right: 10px;
        color: #203344;
        text-decoration: none;
    }

    .footer a:hover {
        color: #38597a;
        text-decoration: underline;
    }

    .footer-1 {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        column-gap: 80px;
    }

    /* .footer-menu {
        width: 80%;
    } */

    .footer-menu p {
        margin-bottom: 5px;
    }

    .footer-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social h3 {
        width: 100%;
    }

    .footer-social img {
        height: 30px;
        margin: auto;
        padding-top: 10px;
        filter: invert(99%) sepia(0%) saturate(988%) hue-rotate(91deg) brightness(118%) contrast(100%);
    }

    .footer-insta {
        border-radius: 50%;
        background-color: hotpink;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        transition: .5s;
    }

    .footer-insta:hover {
        background-color: rgb(226, 63, 145);
    }

    .footer-facebook {
        border-radius: 50%;
        background-color: #0866ff;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        transition: .5s;
    }

    .footer-facebook:hover {
        background-color: #0049be;
    }

    .footer-tumblr {
        border-radius: 50%;
        background-color: #1b3759;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        transition: .5s;
    }

    .footer-tumblr:hover {
        background-color: #011835;
    }



</style>

<div class="footer">
    <div class="footer-1">
        <div class="footer-menu">
            <h3>explore</h3>
            <a href="/about">about</a> &#x2022;
            <a href="/">writing</a> &#x2022;
            <a href="/blog">blog</a> &#x2022;
            <a href="/contact">contact</a> 
        </div>
        <div class="footer-social">
            <h3>connect</h3>
            <a href="https://instagram.com/julesharterwriter">
                <div class="footer-insta">
                    <img src="/assets/instagram.svg" />
                </div>
            </a>
            <a href="https://www.facebook.com/julesharterwriter">
                <div class="footer-facebook">
                    <img src="/assets/facebook-f.svg" />
                </div>
            </a>
            <a href="https://everydaygothic.tumblr.com/">
                <div class="footer-tumblr">
                    <img src="/assets/tumblr.svg" />
                </div>
            </a>    
        </div>
    </div>
    
    <div class="footer-2">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/accessibility">Accessibility Statement</a>
        / © 2023 Jules Harter
    </div>
</div>