@import url('./reset.css');

:root {
  --container-max-width: 1200px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #161616;
  font-family: "Merriweather", Georgia, serif;
  font-size: 1rem;
}

h1 {
  color: #161616;
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1em;
}

h2 {
  color: #161616;
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1em;
}

h3 {
  color: #161616;
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1em;
}

h4 {
  color: #161616;
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #38597a;
}

a:hover {
  color: #203344;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #38597a;
}

@media screen and (max-width: 636px) {
  .hamburger {
    margin-top: 20px;
    margin-right: 10px;
  }

  .hamburger .line {
    width: 30px;
    height: 4px;
  }
}

@media screen and (min-width: 636px) {
  .hamburger {
    margin-top: 30px;
    margin-right: 20px;
  }

  .hamburger .line {
    width: 40px;
    height: 5px;
  }
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #38597a;
  display: none;
}

.nav-links a {
  display: block;
  text-align: left;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 40px;
}

.nav-links a:hover, a:focus {
  color: #203344;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 790px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 5px;
  }

  .hamburger {
    display: none;
  }
}